<div class="header">
  <h2>Movie Library</h2>

  <input
    type="text"
    placeholder="Search Films"
    appAutofocus
    [value]="searchTerm()"
    (input)="onSearch($event)"
  />
</div>
@if (filteredFilms().length === 0) {
  <p class="empty">Nothing found</p>
} @else {
  <div class="grid">
    @for (film of filteredFilms(); track film.id) {
      <app-film-card
        [film]="film"
        (toggleFavorite)="toggleFavorite($event)"
        (open)="openDetails($event)"
      />
    }
  </div>
}
